@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url("bb5.png");
    background-repeat: no-repeat;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
    color: #964B00;
    font-family: "Lucida Handwriting", cursive;
    margin: 0;
    
}

.addnote {
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #964B00;
    border-radius: 3px;
    font-family: "Lucida Handwriting", cursive;
    border: none;
    color: #F3E779;
}

.addbucket {
    background-color: #964B00;
    border-radius: 3px;
    font-family: "Lucida Handwriting", cursive;
    border: none;
    color: #F3E779;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 4rem;
    right: 1rem;
}

.note {
    background-color: #F3E779;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    
}

.note .tools {
    background-color: #964B00;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

.note .tools button {
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    color: #fff;
}

.note .main {
    background-color: #F3E779;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    overflow: auto;
    height: 200px;
    width: 100%;
    border: none;
}

.note textarea {
    height: 200px;
    font-family: monospace;
    font-size: 16px;
    width: 100%;
}

.note .hidden {
    display: none;
}

.bucket{
    background-color: #F3E779;    
    margin: 80px;
    height: 50px;
    width: 50px;
}

.bucket textarea {
    font-family: monospace;
    height: 50px;
    font-size: 16px;
    width: 100%;
}
